conversation(display_name="Fredric")
  case lastResponse
    when "what_to_do_next"
      statement#next

    default
      statement#default
      responses
        response#what_to_do_next.
          なんてやつだ! API戦士（非公式）の知識を舐めるなよ!

  statements
    statement#default
      text.
        クックックック... お前の相棒、Cedricは私が預かった。返して欲しければTwilioにまつわる#[span.highlight トリビア問題]に答えるのだ。制限時間に答えられない場合は、Cedricがどうなるかはもちろんわかるよな？
    statement#next
      text.
        見せてもらうか、#[span.highlight API戦士（非公式）]の実力とやらを!
